---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Home">
  <div class="container" style="padding-top: 80px;">
    <h1>IN SYNC</h1>
    <p>With Creative Minds in Diaspora</p>
  </div>
</BaseLayout>
